.cartModal {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: var(--navColor);
    transition: right 0.5s ease; 
    z-index: 999; 
    padding: 20px;
    box-shadow: 0 0 10px var(--fontColor); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--fontColor);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.cardProdCarrinho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid;
    border-image: linear-gradient(90deg, rgba(128,0,128,1) 0%, rgba(89,0,189,1) 50%, rgba(184,0,184,1) 100%);
    border-image-slice: 1;
    border-radius: 10px;
    margin-top: 50px;
    padding: 20px;
}

.cardImgCarrinho {
    width: 80px;
}

.cartBtn {
    transition: 0.6s;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: var(--fontColor);
    cursor: pointer;
}

.cardDesc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.cartLow {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cartClear {
    background-color: red;
    box-shadow: 0px 0px 5px 0px red;
}

.cartFinish {
    background-color: var(--btnCardColor);
    box-shadow: 0px 0px 5px 0px var(--btnCardColor);
}

.cardH1 {
    margin-top: 20px;
}
