

body {
    transition: 0.6s;
    background: var(--navColor);
}

header {
    transition: 0.6s;
    background-color: var(--navColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    color: var(--fontColor);
}

.navLogo > img {
    width: 100px;
}
.navSearch > input {
    transition: 0.6s;
    border: none;
    box-shadow: 0.3px 0.3px 5px var(--searchColor);
    border-radius: 5px;
    outline: none;
    padding: 8px;
    background: var(--searchColor);
}

#navSearch {
    background-color: var(--searchColor);
    border: none;
    box-shadow: 0px 0px 9px var(--searchColor);
    border-radius: 5px;
    outline: none;
    padding: 5px 35px 5px 10px; 
    width: 900px;
    background-image: url('https://icones.pro/wp-content/uploads/2021/06/icone-loupe-violet.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    color: var(--fontColor);
}

#navSearch::-webkit-search-cancel-button {
    display: none;
}

#navSearch::placeholder {
    color: var(--fontColor);
}

.navIntegers {
    display: flex;
}

.navIntegers > i {
    padding: 5px;
    cursor: pointer;
}

.navIntegers > p {
    transition: 0.6s;
    color: var(--fontColor);
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
}

.navIntegers > p:hover {
    transition: 0.6s;
    color: var(--fontHoverColor);
    cursor: pointer;
}

.navIntegers > p > i {
    margin-right: 5px;
}
.navIntegers span {
    margin-left: 5px;
    font-size: 20px;
    padding: 3px;
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navLinks > li {
    list-style: none;
    margin-bottom: 20px;
}

.navLinks > li > a {
    transition: 0.6s;
    text-decoration: none;
    color: var(--fontColor);
    margin-left: 15px;
    font-size: 16px;
    padding: 5px;
    border-radius: 8px;
    align-items: center;

}

.navLinks > li > a:hover {
    transition: 0.6s;
    color: var(--fontHoverColor);
    padding: 5px;
    border-radius: 8px;
}

.navLinks > li > a > i {
    margin-right: 5px;
    font-size: 16px;
}

.navLinks {
    transition: 0.6s;
    background: var(--navColor);
}

.navLine {
    width: 100%;
    height: 5px;
    background: linear-gradient(45deg, purple, #5900BD, rgb(184, 0, 184));
}

.font {
    color: var(--fontColor);
}
